@model BoolBox.Models.BoolTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Bools" asp-action="Index" method="get">
    <p>
        <select asp-for="BoolType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].SpotifyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bools[0].Repeat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bools)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotifyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
